<!DOCTYPE html>    
<html lang="ja">    
<head>    
<meta charset="utf-8">    
<meta name="description" content="形態素解析APIサーバです。" />    
<meta name="theme-color" content="#ffffff">    
<link href="/css/bootstrap.min.css" rel="stylesheet">    
<title>形態素解析APIサーバ - まさお</title>    
</head>    
<body>
<%= yield %>
</body>
</html>
