<link href="/css/masao.css" rel="stylesheet">
<div class="container">
  <p style="font-size: 156px; font-weight: bold;">Masao</p>
  Masao is a morphological analysis API for web applications in Ruby<br>
  Use MeCab + Natto<br>
  <div class="background scroll"></div>
  But Masao hates natto. He is a drinker, loves sake, and still lives for tomorrow!<br>
  He will be pleased if you serve him his mother's homemade plum wine.
  <br>
  <br>
  <%= @last_update %> Last Update.<br>
  <%= @first_update %> first init.<br>
</div>
